{% extends 'fe/base.html.twig' %}
{% set seo = workPage.seo %}
{% use 'SeoBundle:FrontEnd:seo.html.twig' %}
{% block stylesheet %}
    {{ parent() }}

{% endblock %}

{% block content %}
        <div class="detailsPage">
            <div id="carousel-example-generic" class="carousel slide caption-animate" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="lazy" data-src="{{ asset('fe/images/projects/formulaonederful/banner.jpg') }}" alt="slide one">
                        <div class="carousel-caption fadeInRight">
                            <h1>Formula Onederful</h1>
                            <h2>Digital marketing <br/> Integrated Digital Campaigns - Social Media Content </h2>
                            <p>
                                We are healthy, colorful, and fruitful Formulas! 
                                Before Formula Onederful had launched its on ground branch, it was a delivery based concept of fresh fruits, vegetables, and fresh juices that soon generated BAM and Formula’s partnership, and the page we created was their main store. Generating fruitful, fresh, and captivating content to stimulate healthy appetites was our number one drive. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="pagesData seperators first">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12 aboutText text-center" data-aos="fade-up">
                    <p>
                        A new healthy, fresh, fruitful and colorful personality has been rejuvenated. <br/>
                        Onederful Formulas making an appearance! </p>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <img src="{{ asset('fe/images/shape2.png') }}" alt="shape"/>
                    </div>
                </div>
            </div>
        </section>

        <section class="ourWorkDetails">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="slide cover-photo" data-aos="fade-up" data-aos-duration="2200">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/1.jpg') }}" alt="Formula Onederful" class="img-responsive lazy"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2200">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img1.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Deliciously mysterious, Mr. Strawberry</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2300">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img2.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>The sun is shining, you got friends and your fruits</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2400">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img3.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Onederful formulas, makes you healthy and happy</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2500">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img4.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Kickstart your day, with an applicious formula</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2600">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img5.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Quench your beach thirst with a onederful coconut </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2700">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img6.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Planting the seeds of health, one crop at a time!</h2>
                        </div>
                    </div>
                </div>
            </div>
            <section class="pagesData seperators first white">
                <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12 aboutText text-center" data-aos="fade-up">
                        <p>
                            Launching the first on ground formula Onederful branch in Westown Hub. As an invitation to the opening event, we initiated the campaign concept “Crack your Formula” and sent out giveaway fruit boxes to media personalities and influencers, each with their own customized formula and invitations.
                        </p>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <img src="{{ asset('fe/images/shape2-black.png') }}" alt="shape"/>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slide mt25">
                <ul class="bxslider">
                    <li>
                        <div class="col-md-4 col-xs-12">
                            <div class="side">
                                <img src="{{ asset('fe/images/projects/formulaonederful/s1.jpg') }}" alt="Formula Onederful" class="post-shadow"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="side">
                                <img src="{{ asset('fe/images/projects/formulaonederful/s2.jpg') }}" alt="Formula Onederful" class="post-shadow"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="side">
                                <img src="{{ asset('fe/images/projects/formulaonederful/s3.jpg') }}" alt="Formula Onederful" class="post-shadow"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-4 col-xs-12">
                            <div class="side">
                                <img src="{{ asset('fe/images/projects/formulaonederful/s4.jpg') }}" alt="Formula Onederful" class="post-shadow"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="side">
                                <img src="{{ asset('fe/images/projects/formulaonederful/s5.jpg') }}" alt="Formula Onederful" class="post-shadow"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2200">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img2-1.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Customized formula of fruits to Cairo 360 </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2300">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img2-2.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Customized formula of fruits to Scoop Empire </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2400">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img2-4.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Customized formula of fruits to the Food Scope </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2500">
                    <div class="side">
                        <div class="image-center">
                            <img data-src="{{ asset('fe/images/projects/formulaonederful/img2-6.jpg') }}" alt="Formula Onederful" class="post-shadow img-responsive lazy"/>
                            <h2>Customized formula of fruits to Cairo Gossip</h2>
                        </div>
                    </div>
                </div>
            </div>
            <section class="pagesData pagesEnd">
                <div class="container">
                    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 aboutText text-center da-thumbs" data-aos="fade-up">
                        <div class="pagesEndText">
                            <h5>This campaign became an unforgettable experience for all those involved<br/>
                                and will always be especially near and dear to our hearts</h5>
                            <img src="{{ asset('fe/images/shape2.png') }}" alt="shape"/>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-md-4 col-xs-6 item">
                                    <a href="{{ path('fe_work_show',{'slug':'coca-cola'}) }}">
                                        <img src="{{ asset('fe/images/projects/Cocacola.jpg') }}" alt="Cocacola" class="img-responsive"/>
                                        <div>
                                            <ul>
                                                <li><h2>CocaCola</h2></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-6 item">
                                    <a href="{{ path('fe_work_show',{'slug':'halwani'}) }}">
                                        <img src="{{ asset('fe/images/projects/halwani2.jpg') }}" alt="halwani" class="img-responsive"/>
                                        <div>
                                            <ul>
                                                <li><h2>Halwani Bros</h2></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 hidden-xs item">
                                    <a href="{{ path('fe_work_show',{'slug':'royalCeramica'}) }}">
                                        <img src="{{ asset('fe/images/projects/Royal.jpg') }}" alt="Ceramica Royal" class="img-responsive"/>
                                        <div>
                                            <ul>
                                                <li><h2>Ceramica Royal</h2></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 viewAll">
                            <a href="{{ path('fe_work') }}">visit other projects</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('fe/js/jquery.hoverdir.js') }}"></script>
    <script src="{{ asset('fe/js/isInViewport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('fe/js/greensock.js') }}" type="text/javascript"></script>
    <script src="{{ asset('fe/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('fe/js/jquery.lazy.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.lazy').lazy();
            $('.bxslider').bxSlider({auto: true});

        });
    </script>
{% endblock %}