{% extends 'fe/base.html.twig' %}
{% set seo = about.seo %}
{% use 'SeoBundle:FrontEnd:seo.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <section class="pagesData aboutContainer">
        <section class="clients">
            <div class="container" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                <div class="row mb25">
                    <div class="col-md-12 col-xs-12 text-center clientsHeader">
                        <h2>OUR CLIENTS</h2>
                        <img src="{{ asset('fe/images/shape2.png') }}" alt="shape"/>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>-->
                    </div>
                </div>
                <div class="row mt25">
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="1500">
                        <img src="{{ asset('fe/images/clients/1.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="1800">
                        <img src="{{ asset('fe/images/clients/2.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="2100">
                        <img src="{{ asset('fe/images/clients/3.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="2400">
                        <img src="{{ asset('fe/images/clients/4.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="2700">
                        <img src="{{ asset('fe/images/clients/5.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/6.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/7.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/8.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/9.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/10.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/11.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/12.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/13.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/14.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/15.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/16.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/17.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/18.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/19.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/20.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/21.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/22.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/23.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/24.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/25.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/26.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/27.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/28.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/29.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/30.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/31.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/32.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/33.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/34.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/35.png') }}" alt="brand">
                    </div>
                    <div class="col-md-3 col-xs-6 text-center logo" data-aos="fade-up" data-aos-duration="3000">
                        <img src="{{ asset('fe/images/clients/36.png') }}" alt="brand">
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}