{% extends 'fe/base.html.twig' %}
{% set seo = workPage.seo %}
{% use 'SeoBundle:FrontEnd:seo.html.twig' %}
{% block stylesheet %}
    {{ parent() }}

{% endblock %}

{% block content %}
        <div class="detailsPage">
            <div id="carousel-example-generic" class="carousel slide caption-animate" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ asset('fe/images/projects/runway/banner.jpg') }}" alt="slide one">
                        <div class="carousel-caption fadeInRight">
                            <h1>Runway</h1>
                            <h2>Digital marketing, In-House Photography,  <br/> Integrated Digital Campaigns - Social Media Content </h2>
                            <p>
                                We are feminine, bold, colorful, and diverse!
                                As soon as the newest local nail polish brand, Runway, was introduced into the Egyptian market, BAM introduced it into the digital world. It was more of an incomparable opportunity to implant a new consumer need of using the breathable nail polish with a wide range of bold and beautiful colors. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="pagesData seperators first">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12 aboutText text-center" data-aos="fade-up">
                    <p>As we rolled into the brand, we brought colors to life in so many different creative channels, whether it’s creating content, or sending out giveaways to beauty icons and influencers for more engagement with our brand. </p>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <img src="{{ asset('fe/images/shape2.png') }}" alt="shape"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="ourWorkDetails">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="slide cover-photo" data-aos="fade-up" data-aos-duration="2200">
                            <img src="{{ asset('fe/images/projects/runway/1.jpg') }}" alt="Runway" class="img-responsive"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2300">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img1.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Just like Selfies, there are also nailies</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2400">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img2.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Runway and Super Magic  colorful collaboration</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2500">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img3.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Taking Runway everywhere we  go, especially on the beach</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2600">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img4.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>The breezy, fresh, and splashy breathable Runway colors</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2700">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img5.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Summertime means a new shade of pink from Runway</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="2800">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img6.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Going “So Bananas” with bold yellow from Runway </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="2900">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img7.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Our colors get their bold look from tanning on the beach</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="3000">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img8.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Our free spirit Runway color only for the free spirited</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="3100">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img9.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Sandy toes, salty air, and colorful nails</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="3000">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img10.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>A shade of pink as pure as its reflection</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="3100">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img11.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>A special autograph from a very special champion</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" data-aos="fade-up" data-aos-duration="3000">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img12.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Going green and exotic with Runway colors</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-1" data-aos="fade-up" data-aos-duration="3100">
                    <div class="side">
                        <div class="image-center">
                            <img src="{{ asset('fe/images/projects/runway/img13.jpg') }}" alt="Runway" class="post-shadow img-responsive"/>
                            <h2>Runway colors are as bold as your personality </h2>
                        </div>
                    </div>
                </div>
            </div>
            <section class="pagesData seperators white">
                <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12 aboutText text-center" data-aos="fade-up">
                        <p>The Runway Breathable Experimental Video </p>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <img src="{{ asset('fe/images/shape2-black.png') }}" alt="shape"/>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slide" data-aos="fade-up" data-aos="fade-up" data-aos-duration="2200">
                <video width="100%" controls>
                    <source src="{{ asset('fe/videos/runway_breathable.mp4') }}" type="video/mp4">
                    <img src="{{ asset('fe/images/projects/runway/banner2.jpg') }}" alt="Runway"/>
                </video>
            </div>
            <div class="slide" data-aos="fade-up" data-aos="fade-up" data-aos-duration="2200">
                <img src="{{ asset('fe/images/slides/slide4.jpg') }}" alt="Runway"/>
            </div>
<!--
            <div class="slide">
                <ul class="bxslider">
                    <li><img src="images/slides/slide5-1.jpg" alt="Runway" /></li>
                    <li><img src="images/slides/slide5-2.jpg" alt="Runway" /></li>
                    <li><img src="images/slides/slide5-3.jpg" alt="Runway" /></li>
                </ul>
            </div>
-->
            <div class="mobile-slider-container white">
                <div class="slide">
                    <ul class="bxslider">
                        <li>
                            <div class="container-fluid">
                                <div class="mobile-slider">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 col-md-push-6 row-eq-height">
                                            <img src="{{ asset('fe/images/slides/slide5-1-2.png') }}" alt="Coca Cola" class="img-fluid mobile-img"/>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 col-md-pull-6 row-eq-height">
                                            <img src="{{ asset('fe/images/slides/slide5-1-1.jpg') }}" alt="Coca Cola" class="img-fluid"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container-fluid">
                                <div class="mobile-slider">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 col-md-push-6 row-eq-height">
                                            <img src="{{ asset('fe/images/slides/slide5-2-2.png') }}" alt="Coca Cola" class="img-fluid mobile-img"/>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 col-md-pull-6 row-eq-height">
                                            <img src="{{ asset('fe/images/slides/slide5-2-1.jpg') }}" alt="Coca Cola" class="img-fluid"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container-fluid">
                                <div class="mobile-slider">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 col-md-push-6 row-eq-height">
                                            <img src="{{ asset('fe/images/slides/slide5-3-2.png') }}" alt="Coca Cola" class="img-fluid mobile-img"/>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 col-md-pull-6 row-eq-height">
                                            <img src="{{ asset('fe/images/slides/slide5-3-1.jpg') }}" alt="Coca Cola" class="img-fluid"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <section class="pagesData seperators white">
                <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12 aboutText text-center" data-aos="fade-up">
                        <p>Building an identity is nothing without building a digital presence</p>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <img src="{{ asset('fe/images/shape2-black.png') }}" alt="shape"/>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slide" data-aos="fade-up" data-aos-duration="2200">
                <img src="{{ asset('fe/images/slides/slide7.jpg') }}" alt="Runway"/>
            </div>
            <div class="slide" data-aos="fade-up" data-aos-duration="2200">
                <div class="counter-container">
                    <img src="{{ asset('fe/images/slides/slide9.jpg') }}" alt="Runway"/>
                    <div class="counter" data-count="6084">0</div>
                </div>
            </div>
            <div class="slide" data-aos="fade-up" data-aos-duration="2200">
                <img src="{{ asset('fe/images/slides/slide8.jpg') }}" alt="Runway"/>
            </div>
            <section class="pagesData pagesEnd">
                <div class="container">
                    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 aboutText text-center da-thumbs" data-aos="fade-up">
                        <div class="pagesEndText">
                            <h5>This campaign became an unforgettable experience for all those involved<br/>
                                and will always be especially near and dear to our hearts</h5>
                            <img src="{{ asset('fe/images/shape2.png') }}" alt="shape"/>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-md-4 col-xs-6 item">
                                    <a href="{{ path('fe_work_show',{'slug':'coca-cola'}) }}">
                                        <img src="{{ asset('fe/images/projects/Cocacola.jpg') }}" alt="Cocacola" class="img-responsive"/>
                                        <div>
                                            <ul>
                                                <li><h2>CocaCola</h2></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-6 item">
                                    <a href="{{ path('fe_work_show',{'slug':'halwani'}) }}">
                                        <img src="{{ asset('fe/images/projects/halwani2.jpg') }}" alt="halwani" class="img-responsive"/>
                                        <div>
                                            <ul>
                                                <li><h2>Halwani Bros</h2></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 hidden-xs item">
                                    <a href="{{ path('fe_work_show',{'slug':'royalCeramica'}) }}">
                                        <img src="{{ asset('fe/images/projects/Royal.jpg') }}" alt="Ceramica Royal" class="img-responsive"/>
                                        <div>
                                            <ul>
                                                <li><h2>Ceramica Royal</h2></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 viewAll">
                            <a href="{{ path('fe_work') }}">visit other projects</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('fe/js/jquery.hoverdir.js') }}"></script>
    <script src="{{ asset('fe/js/isInViewport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('fe/js/greensock.js') }}" type="text/javascript"></script>
    <script src="{{ asset('fe/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('fe/js/jquery.lazy.min.js') }}"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            if ($('.counter-container').is(":in-viewport")) {
                $('.counter').each(function () {
                    var $this = $(this),
                        countTo = $this.attr('data-count');

                    $({countNum: $this.text()}).animate({
                        countNum: countTo
                    }, {
                        duration: 4000,
                        easing: 'linear',
                        step: function () {
                            $this.text(Math.floor(this.countNum));
                        },
                        complete: function () {
                            $this.text(this.countNum);
                        }

                    });
                });
            }
        });
        $(document).ready(function () {
            $('.bxslider').bxSlider({auto: true});

        });
    </script>
{% endblock %}
